:root {
    --primary-color: #faffff;
    --bg-color: #2d263c;
    --accent-color: #a1a5b0;
    --sec-accent-color: #ca193c;
    --spacing: 10px;
    --padding: 20px;
    --border-radius: 8px;
    --shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;


}

/* Estilos generales de la pagina */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: var(--sec-accent-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; 
  color: var(--accent-color);
}

/* Estilos del header */

header {
    padding: 20px 5%;
    height: 100px;
    border-bottom: 3px solid var(--sec-accent-color);
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--padding);
    box-shadow: var(--shadow);
}

header img {
    flex-basis: 5%;
    min-width: 100px;
    max-width: 5%;
    object-fit: contain;
    padding-left: var(--padding);
}

.marca {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var([--padding]);
}

.marca h1{
    font-size: 1.8rem;
    margin: 0;
}

.marca p {
    font-size: 0.8rem;
    margin-top: 5px;
}

.marca span {
    color: var(--sec-accent-color);
}

header nav {
    background-color: var(--accent-color);
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    padding: var(--padding);
    border-radius: var(--border-radius);
}

header nav ul {
    display: flex;
    gap: var(--spacing);
    width: 100%;
    justify-content: space-around;
}




